<% if notice %>
  <div class='<%= notice["class"] %>'>
    <b><%= notice["message"] %></b>
  </div>
<% end %>

<h1><%= Kind.model_name.human %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.kind.name') %></th>
      <th><%= t('activerecord.attributes.kind.description') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kinds.each do |kind| %>
      <tr>
        <td><%= kind.name %></td>
        <td><%= kind.description %></td>
        <td><%= link_to t('navigation.links.show'), kind %></td>
        <td><%= link_to t('navigation.links.edit'), edit_kind_path(kind) %></td>
        <td><%= link_to t('navigation.links.destroy'), kind, method: :delete, data: { confirm: t('form.data.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('navigation.links.new', resource: Kind.model_name.human), new_kind_path %>
