<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<div class='row align-items-center border mx-0 py-2'>
  <div class="col col-sm-2 col-md-2">
    ID
  </div>
  <div class="col col-sm-4 col-md-5 d-none d-sm-block">
    Order contents
  </div>
  <div class="col">
    Order status
  </div>
  <div class="col"></div>
</div>

<% @shopping_carts.each do |shopping_cart| %>
  <div class='row align-items-center border border-shadow mx-0 mb-3 py-2'>
    <div class="col col-sm-2 col-md-2">
      #<%= shopping_cart.id %>
    </div>
    <div class="col col-sm-4 col-md-5 d-none d-sm-block">
      <% shopping_cart.product_instances.each do |product_instance| %>
        <div class="row align-items-center g-0 mx-0">
          <div class="col">
            <%= product_instance.to_s %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col">
      <%= shopping_cart.status %>
    </div>
    <div class="col text-center">
      <%= link_to "See details", shopping_cart_path(shopping_cart) %>
    </div>
  </div>
<% end %>

<br>
