<% if notice %>
  <div class='<%= notice["class"] %>'>
    <b><%= notice["message"] %></b>
  </div>
<% end %>

<h1><%= ShoppingCart.model_name.human(count: 2) %></h1>

<div class='row align-items-center border mx-0 py-2'>
  <div class="col-2 col-sm-2 col-md-2">
    <b><%= t('table.header.shopping_cart.id_indicator') %></b>
  </div>
  <div class="col col-sm-4 col-md-5 d-none d-sm-block">
    <b><%= t('table.header.shopping_cart.contents') %></b>
  </div>
  <div class="col">
    <b><%= t('table.header.shopping_cart.status') %></b>
  </div>
  <div class="col"></div>
</div>

<% @shopping_carts.each do |shopping_cart| %>
  <div class='row align-items-center border mx-0 mb-1 py-2'>
    <div class="col-2 col-sm-2 col-md-2">
      #<%= shopping_cart.id %>
    </div>
    <div class="col col-sm-4 col-md-5 d-none d-sm-block">
      <% shopping_cart.product_instances.each do |product_instance| %>
        <div class="row align-items-center g-0 mx-0">
          <div class="col">
            <%= product_instance.display_name %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col">
      <span class="<%= status_badge_style(shopping_cart) %>"><%= t("activerecord.attributes.shopping_cart.status.#{shopping_cart.status}") %></span>
      <span class="<%= payment_status_badge_style(shopping_cart) %>"><%= t("activerecord.attributes.shopping_cart.payment_status.#{shopping_cart.payment_status}") %></span>
    </div>
    <div class="col text-center">
      <%= link_to t('navigation.links.show_details'), shopping_cart_path(shopping_cart) %>
    </div>
  </div>
<% end %>

<br>
