<% if notice %>
  <div class='<%= notice["class"] %>'>
    <b><%= notice["message"] %></b>
  </div>
<% end %>

<div class='row align-items-center'>
  <div class="col">
    <h1><%= t('form.headers.show', resource: ShoppingCart.model_name.human, id: @shopping_cart.id) %></h1>
    <h3>
      <%= status_badge(shopping_cart) %>
      <%= payment_status_badge(shopping_cart) %>
    </h3>
  </div>
</div>

<%= render partial: 'form', shopping_cart: @shopping_cart %>

<% if pix_payments_enabled? && !@shopping_cart.paid? && !@shopping_cart.canceled? %>
  <div class="row align-items-center mb-3">
    <div class="col">
      <button name="button" id="buttonPixPayment" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalPixPayment">
        <%= t('form.shopping_cart.button.generate_qr_code') %>
      </button>
    </div>
  </div>

  <div class="modal fade" id="modalPixPayment" tabindex="-1" aria-labelledby="modalPixPaymentLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalPixPaymentLabel"><%= t('modal.qr_code.title') %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span hidden></span>
          <div class="alert alert-warning">
            <%= t('modal.qr_code.body') %>
          </div>
          <div class="row text-center">
            <div class="col">
              <img id="imagePixQrCode" src="<%= pix_payments_api_request(@shopping_cart) %>" >
            </div>
          </div>
          <div class="row text-center">
            <div class="col" >
              <span id="spanPixBrCode" hidden="hidden"><%= @brcode %></span>
              <a class="btn btn-primary copyable" tabindex="0" data-clipboard-target="#spanPixBrCode" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="<%= t('modal.qr_code.button.popover') %>">
                  <%= t('modal.qr_code.button.text') %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= link_to t('navigation.links.back'), shopping_carts_path %>
