<% if notice %>
  <div class='<%= notice["class"] %>'>
    <b><%= notice["message"] %></b>
  </div>
<% end %>

<div class='row align-items-center'>
  <div class="col">
    <h1>Showing Order #<%= @shopping_cart.id %></h1>
    <h3>
      <span class="<%= status_badge_style(@shopping_cart) %>"><%= @shopping_cart.status.humanize %></span>
      <span class="<%= payment_status_badge_style(@shopping_cart) %>"><%= @shopping_cart.payment_status.humanize %></span>
    </h3>
  </div>
</div>

<%= render partial: 'form', shopping_cart: @shopping_cart %>

<% if pix_payments_enabled? && !@shopping_cart.paid? %>
  <div class="row align-items-center mb-3">
    <div class="col">
      <button name="button" id="buttonPixPayment" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalPixPayment">
        Generate QR Code for payment
      </button>
    </div>
  </div>

  <div class="modal fade" id="modalPixPayment" tabindex="-1" aria-labelledby="modalPixPaymentLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalPixPaymentLabel">Payment - QR Code</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span hidden></span>
          <div class="alert alert-warning">
            Please remember to check your payment details before you finish. We are not responsible for transfers made by mistake to other recipients.
          </div>
          <div class="row text-center">
            <div class="col">
              <img id="imagePixQrCode" src="<%= pix_payments_api_request(@shopping_cart) %>" >
            </div>
          </div>
          <div class="row text-center">
            <div class="col" >
              <span id="spanPixBrCode" hidden="hidden"><%= @brcode %></span>
              <a class="btn btn-primary copyable" tabindex="0" data-clipboard-target="#spanPixBrCode" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="Copied!">
                  Copy payment data to clipboard
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= link_to 'Back', shopping_carts_path %>
