<% if notice %>
  <div class='<%= notice["class"] %>'>
    <b><%= notice["message"] %></b>
  </div>
<% end %>

<h1><%= Size.model_name.human %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.size.name') %></th>
      <th><%= t('activerecord.attributes.size.description') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sizes.each do |size| %>
      <tr>
        <td><%= size.name %></td>
        <td><%= size.description %></td>
        <td><%= link_to link_to t('navigation.links.show'), size %></td>
        <td><%= link_to link_to t('navigation.links.edit'), edit_size_path(size) %></td>
        <td><%= link_to link_to t('navigation.links.destroy'), size, method: :delete, data: { confirm: t('form.data.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('navigation.links.new', resource: Size.model_name.human), new_size_path %>
