<div id="carouselProductPhotos" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <% photos.each_with_index do |_photo, index| %>
      <button type="button" data-bs-target="#carouselProductPhotos" data-bs-slide-to=<%="#{index}"%> <%= if index == 0 then "class=active" end %>></button>
    <% end %>
  </div>
  <div class="carousel-inner">
    <% photos.each_with_index do |photo, index| %>
      <div class="carousel-item <%= if index == 0 then 'active' end %>">
        <%= image_tag(photo, class: 'd-block h-50 thumbnail')  %>
        <div class="carousel-caption bg-dark bg-opacity-50">
          <h5><%= photo.record.name %></h5>
          <p><%= photo.record.description %></p>
      </div>
      </div>
    <% end %>
  </div>
  <button type="button" class="carousel-control-prev" data-bs-target="#carouselProductPhotos" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden"><%= t('messages.carousel.previous') %></span>
  </button>
  <button type="button" class="carousel-control-next" data-bs-target="#carouselProductPhotos" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden"><%= t('messages.carousel.next') %></span>
  </button>
</div>
