<div class="d-flex justify-content-between border d-block d-md-none">
  <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#searchCollapse" aria-expanded="false" aria-controls="searchCollapse">
    <span class="fs-5">Search</span> <%= @search_is_being_made ? "(Filters are being applied. Showing #{@q.result.count} result(s).)" : nil %>
  </button>
  <button class="btn bi bi-chevron-down" type="button" data-bs-toggle="collapse" data-bs-target="#searchCollapse" aria-expanded="false" aria-controls="searchCollapse">
  </button>
</div>
<div class="collapse d-md-block" id="searchCollapse" >
  <%= search_form_for @q do |f| %>
    <div class="row gap-2 align-items-center my-2">
      <div class="col-md-5">
        <%= f.search_field  :name_i_cont,
                            placeholder: "Search on our product's names",
                            class: 'form-control' %>
      </div>
      <div class="col-md">
        <% Product.all.flat_map{ |p| p.kinds }.uniq.each do |kind| %>
          <%= check_box_tag('q[kinds_id_eq_any][]', kind.id, false, class: 'ms-1 me-1' ) %>
          <%= kind.name %>
        <% end %>
      </div>
      <div class="col-md text-end">
        <%= link_to "Clear search", request.path, class: "btn btn-default" %>
        <%= f.submit "Search", class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>

<hr>