<div class="d-flex justify-content-between border d-block d-md-none">
  <button class="btn fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#searchCollapse" aria-expanded="false" aria-controls="searchCollapse">
    Search
  </button>
  <button class="btn bi bi-chevron-down" type="button" data-bs-toggle="collapse" data-bs-target="#searchCollapse" aria-expanded="false" aria-controls="searchCollapse">
  </button>
  <%# <button role='button' href="#searchCollapse" data-bs-toggle="collapse" data-bs-target="#searchCollapse" aria-expanded="false" aria-controls="searchCollapse">Search</a> %>
  <%# <button role='button' href="#searchCollapse" class='bi bi-chevron-down' data-bs-toggle="collapse" data-bs-target="#searchCollapse" aria-expanded="false" aria-controls="searchCollapse"></a> %>
</div>
<div class="collapse d-md-block" id="searchCollapse" >
  <%= search_form_for @q do |f| %>
    <div class="row gap-2 align-items-center my-2">
      <div class="col-md-5">
        <%= f.search_field  :name_i_cont,
                            placeholder: "Search on our product's names",
                            class: 'form-control' %>
      </div>
      <div class="col-md">
        <% Product.all.flat_map{ |p| p.kinds }.uniq.each do |kind| %>
          <%= check_box_tag('q[kinds_id_eq_any][]', kind.id, false, class: 'ms-1 me-1' ) %>
          <%= kind.name %>
        <% end %>
      </div>
      <div class="col-md text-md-end text-center">
        <%= f.submit "Search", class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>

<hr>