<% if notice %>
  <div class='<%= notice["class"] %>'>
    <b><%= notice["message"] %></b>
  </div>
<% end %>

<h1><%= Product.model_name.human(count: 2).capitalize %></h1>

<%= render 'search', products: @products %>

<% @products.each do |product| %>
  <div class='row align-items-center border border-shadow product mx-0 mb-3 py-2'>
    <div class="col photo">
      <% if product.photo.present? %>
        <%= image_tag(rails_blob_url(product.photo), class: 'thumbnail' ) %>
      <% else %>
        <%= t('activerecord.attributes.product.photo.none') %>
      <% end %>
    </div>
    <div class="col">
      <%= product.name %>
    </div>
    <div class="col">
      <div class="row">
        <div class="col text-center">
          <%= link_to t('navigation.links.show'), product %>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <%= link_to t('navigation.links.add_to_cart'), add_to_cart_product_path(product) %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<br>
