<p id="notice"><%= notice %></p>

<h1>Products</h1>

<% @products.each do |product| %>
  <div class='row align-items-center border show-product mx-0 py-2'>
    <div class="col">
      <% if product.photo.present? %>
        <%= image_tag(rails_blob_url(product.photo) ) %>
      <% else %>
        "No photo"
      <% end %>
    </div>
    <div class="col">
      <%= product.name %>
    </div>
    <div class="col">
      <div class="row">
        <div class="col text-center">
          <%= link_to 'Show', product %>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <%= link_to 'Add to cart', '#' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<br>
