<p id="notice"><%= notice %></p>

<h1>Products</h1>

<% @products.each do |product| %>
  <div class='row align-items-center border border-shadow mx-0 mb-3 py-2'>
    <div class="col">
      <% if product.photo.present? %>
        <%= image_tag(rails_blob_url(product.photo), class: 'thumbnail' ) %>
      <% else %>
        "No photo"
      <% end %>
    </div>
    <div class="col">
      <%= product.name %>
    </div>
    <div class="col">
      <div class="row">
        <div class="col text-center">
          <%= link_to 'Show', product %>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <%= link_to 'Add to cart', add_to_cart_product_path(product) %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<br>
