<% if notice %>
  <div class='<%= notice["class"] %>'>
    <b><%= notice["message"] %></b>
  </div>
<% end %>

<div class='row align-items-center border border-shadow mx-0 py-2'>
  <div class="row">
    <div class="col">
      <%= link_to t('navigation.links.back'), products_path %>
    </div>
  </div>
  <div class="col-8">
    <span class='fs-1'><%= @product.name %></span>
  </div>
  <div class="col-4 text-end">
    <span class=''><%= link_to t('navigation.links.add_to_cart'), add_to_cart_product_path(@product) %></span>
  </div>
  <div class="row my-3">
    <div class="col">
      <%= size_badge(@product) %>
      <%= kind_badge(@product) %>
      <%= minimum_price_badge(@product) %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span class='fs-3'><%= @product.description %></span>
    </div>
  </div>
</div>

<div class="row align-items-center mt-3">
  <div class="col-sm-1 col-md-1 col-lg-2 col-xl-2 col-xxl-2">&nbsp;</div>
  <div class="col">
    <img src=<%= rails_blob_url(@product.photo)%> class='thumbnail' >
  </div>
  <div class="col-sm-1 col-md-1 col-lg-2 col-xl-2 col-xxl-2">&nbsp;</div>
</div>
